@using Microsoft.AspNetCore.Components.Rendering
@using NJsonSchema
@using System.Text.Json.Nodes
@using System.Text.Json
@using System.Runtime.CompilerServices
@using System.Numerics

<div style="display: flex; flex-direction: column;">
    @_renderFragement
</div>

@code {

    private RenderFragment _renderFragement = default!;

    /// <summary>
    /// The JSON schema to create a form for.
    /// </summary>
    [Parameter]
    public JsonSchema Schema { get; set; } = default!;

    /// <summary>
    /// The JSON data store.
    /// </summary>
    [Parameter]
    public JsonNode? Data { get; set; } = default!;

    /// <summary>
    /// The JSON data store event callback.
    /// </summary>
    [Parameter]
    public EventCallback<JsonNode?> DataChanged { get; set; }

    protected override void OnInitialized()
    {
        _renderFragement = builder =>
        {
            var oldData = Data;

            Data = Render(
                "Rocket settings", 
                Schema,
                Data,
                builder,
                isTopLevel: true
            );

            if (JsonSerializer.Serialize(oldData) != JsonSerializer.Serialize(Data) && 
                DataChanged.HasDelegate)
            {
                DataChanged.InvokeAsync(Data);
            }
        };
    }

    private JsonNode? Render(
        string label, 
        JsonSchema schema, 
        JsonNode? data,
        RenderTreeBuilder builder, 
        bool isTopLevel
    )
    {
        var __builder = builder;

        switch (schema.Type)
        {
            case JsonObjectType.Integer:

                if (schema.Enumeration.Any())
                {
                    var enumType = schema.Enumeration.ElementAt(0)!.GetType();

                    if (enumType == typeof(byte))
                        data = RenderEnum<byte>(label, schema, (JsonValue?)data, builder);

                    else if (enumType == typeof(sbyte))
                        data = RenderEnum<sbyte>(label, schema, (JsonValue?)data, builder);

                    else if (enumType == typeof(ushort))
                        data = RenderEnum<ushort>(label, schema, (JsonValue?)data, builder);

                    else if (enumType == typeof(short))
                        data = RenderEnum<short>(label, schema, (JsonValue?)data, builder);

                    else if (enumType == typeof(uint))
                        data = RenderEnum<uint>(label, schema, (JsonValue?)data, builder);

                    else if (enumType == typeof(int))
                        data = RenderEnum<int>(label, schema, (JsonValue?)data, builder);

                    else if (enumType == typeof(ulong))
                        data = RenderEnum<ulong>(label, schema, (JsonValue?)data, builder);

                    else if (enumType == typeof(long))
                        data = RenderEnum<long>(label, schema, (JsonValue?)data, builder);

                    else
                        throw new Exception($"Unexpected enum type {enumType.FullName}");
                }

                else
                {
                    data = schema.Format switch
                    {
                        "byte" => RenderNumeric<byte>(label, schema, (JsonValue?)data, builder),
                        "uint64" => RenderNumeric<ulong>(label, schema, (JsonValue?)data, builder),
                        "int64" => RenderNumeric<long>(label, schema, (JsonValue?)data, builder),
                        _ => RenderNumeric<int>(label, schema, (JsonValue?)data, builder)
                    };
                }

                break;

            case JsonObjectType.Number:

                data = schema.Format switch
                {
                    "float" => RenderNumeric<float>(label, schema, (JsonValue?)data, builder),
                    "double" => RenderNumeric<double>(label, schema, (JsonValue?)data, builder),
                    _ => throw new Exception($"schema.Format {schema.Format} is not (yet) supported")
                };

                break;

            case JsonObjectType.Boolean:

                if (data is null)
                    data = false;

                <MudSwitch 
                    Label="@label"
                    Color="Color.Primary"
                    @bind-Value:get="data.GetValue<bool>()"
                    @bind-Value:set="value => SetValue(value, data)" />

                break;

            case JsonObjectType.String:

                if (data is null)
                    data = string.Empty;

                <MudTextField 
                    T="string"
                    Label="@label"
                    MaxLength="schema.MaxLength is null ? int.MaxValue : (int)schema.MaxLength"
                    @bind-Value:get="data.GetValue<string>()"
                    @bind-Value:set="value => SetValue(value, data)" />

                break;

            case JsonObjectType.String | JsonObjectType.Null:

                if (data is null)
                    data = default;

                @* builder.OpenComponent<MudTextField<string>>(sequence++);
                builder.AddComponentParameter(sequence++, "Label", label);
                builder.CloseComponent(); *@

                break;

            case JsonObjectType.Object:

                data = RenderObject(
                    label, 
                    schema.ActualProperties,
                    (JsonObject?)data,
                    builder, 
                    isTopLevel
                );

                break;

            case JsonObjectType.None:

                if (schema.OneOf.Count == 1)
                {
                    data = Render(
                        label,
                        schema.ActualSchema,
                        data,
                        builder,
                        isTopLevel
                    );
                }

                else
                {
                    throw new Exception("schema.OneOf.Count != 1 is not (yet) supported");
                }

                break;

            case JsonObjectType.Array:

                if (data is null)
                    data = new JsonArray();

                RenderArray(
                    label,
                    schema,
                    (JsonArray)data,
                    builder,
                    isTopLevel
                );

                break;

            default:
                throw new Exception($"{schema.Type} is not (yet) supported");
        }

        return data;
    }

    private JsonObject RenderObject(
        string? title,
        IReadOnlyDictionary<string, JsonSchemaProperty> properties, 
        JsonObject? data,
        RenderTreeBuilder builder,
        bool isTopLevel)
    {
        var __builder = builder;

        if (data is null)
            data = new JsonObject();

        var margin = isTopLevel ? "" : " margin-left: 1rem; margin-top: 1rem; margin-bottom: 1rem;";

        <div style="display: flex; flex-direction: column; gap: 1rem;@margin">

            <MudText Typo="Typo.h6">
                @title
            </MudText>

            @foreach (var entry in properties)
            {
                var (name, propertySchema) = entry;
                var label = propertySchema.Description ?? name;

                data.TryGetPropertyValue(name, out var propertyData);

                data[name] = Render(
                    label, 
                    propertySchema,
                    propertyData,
                    builder,
                    isTopLevel: false
                );
            }

        </div>

        return data;
    }

    private JsonValue RenderNumeric<T>(
        string label, 
        JsonSchema schema,
        JsonValue? data,
        RenderTreeBuilder builder) where T : IMinMaxValue<T>, INumber<T>, IBitwiseOperators<T, T, T>
    {
        var __builder = builder;

        if (data is null)
            data = JsonValue.Create(T.Zero);

        <MudNumericField 
            Label="@label"
            Min="schema.Minimum.HasValue ? T.CreateChecked(schema.Minimum.Value) : T.MinValue"
            Max="schema.Maximum.HasValue ? T.CreateChecked(schema.Maximum.Value) : T.MaxValue"
            @bind-Value:get="data!.GetValue<T>()"
            @bind-Value:set="value => SetValue(value, data)" />
        
        return data;
    }

    private JsonValue RenderEnum<T>(
        string label, 
        JsonSchema schema,
        JsonValue? data,
        RenderTreeBuilder builder) where T : INumber<T>, IBitwiseOperators<T, T, T>
    {
        var __builder = builder;

        if (data is null)
            data = JsonValue.Create(T.Zero);

        var valueNamePairs = schema
            .Enumeration
            .Cast<T>()
            .Zip(schema.EnumerationNames)
            .ToList();

        <MudSelect 
            Label="@label"
            MultiSelection="schema.IsFlagEnumerable"
            ToStringFunc="item => valueNamePairs.First(x => x.First is not null && x.First.Equals(item)).Second"
            @bind-Value:get="data!.GetValue<T>()"
            @bind-Value:set="value => SetValue(value, data)"
            @bind-SelectedValues:get="FromFlags(data.GetValue<T>())"
            @bind-SelectedValues:set="value => SetValue(ToFlags(value), data)">

            @foreach (var valueNamePair in valueNamePairs)
            {
                <MudSelectItem Value="valueNamePair.First" />
            }

        </MudSelect>

        return data;
    }

    private void RenderArray(
        string? title,
        JsonSchema schema,
        JsonArray data,
        RenderTreeBuilder builder,
        bool isTopLevel)
    {
        if (schema.Item is null)
            throw new Exception("schema.Item is null");

        var __builder = builder;
        var margin = isTopLevel ? "" : " margin-left: 1rem; margin-top: 1rem; margin-bottom: 1rem;";

        <div style="display: flex; flex-direction: column; gap: 1rem;@margin">

            <MudText Typo="Typo.h6">
                @title
            </MudText>

            @for (int i = 0; i < data.Count; i++)
            {
                Render(
                    "#" + (i + 1),
                    schema.Item.ActualSchema,
                    data[i],
                    builder,
                    isTopLevel: false
                );
            }

            <div style="margin-left: auto; margin-right: auto;">
                <MudIconButton 
                    Icon="@Icons.Material.Filled.Add"
                    OnClick="() => 
                    {
                        var item = Render(
                            string.Empty,
                            schema.Item.ActualSchema,
                            data: default,
                            /* TODO the builder is useless here */
                            builder: new RenderTreeBuilder(),
                            isTopLevel: false
                        );

                        data.Add(item);

                        if (DataChanged.HasDelegate)
                            DataChanged.InvokeAsync(Data);
                    }" />

            </div>

        </div>
    }

    private void SetValue<T>(T value, JsonNode data)
    {
        data.ReplaceWith(value);

        if (DataChanged.HasDelegate)
            DataChanged.InvokeAsync(Data);
    }

    private IEnumerable<T> FromFlags<T>(T value) where T : INumber<T>, IBitwiseOperators<T, T, T>
    {
        var result = new List<T>();
        var two = T.One + T.One;

        for (int i = 0; i < Unsafe.SizeOf<T>() * 8; i++)
        {
            // this mimics the bit-shift operator (1 << i) as no generic math equivalent was found
            var shiftedOne = T.One;

            for (int j = 0; j < i; j++)
            {
                shiftedOne = shiftedOne * two;
            }

            // now continue as normal
            var isBitSet = (value & shiftedOne) > T.Zero;

            if (isBitSet)
                result.Add(shiftedOne);
        }

        return result;
    }

    // Generic math: sum
    // https://stackoverflow.com/a/73906555
    T ToFlags<T>(IEnumerable<T> numbers) where T : INumber<T>
    {
        return numbers.Aggregate(T.Zero, (sum, value) => sum + T.CreateChecked(value));
    }
}